$back-color: #f5f1f1;
$primary-font-color: #ec5242;
$maska: #272727;
@mixin transition-ease {
  transition: all 0.5s ease-in-out;  
}

* {
  margin: 0;
  padding: 0;
}

*img {
  width: 10%;
}
a {
  text-decoration: none;
}

.menu_btn {
  position: absolute;
  z-index: 1;
  left: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease();
  
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}



.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}
// .hamburger {
//   display: block;
//   cursor: pointer;
//   margin-right: 2rem;
// }
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .navMenu.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .Menu_item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .Menu_item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .Menu_item > a {
  color: white;
}

.nav .navMenu_link{
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .navMenu_link:hover {
  color: #ff652f;
}

.Menu_item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu_item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu_item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.Menu_item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}


// .bar {
//   display: block;
//   width: 1.6rem;
//   height: 0.2rem;
//   margin: 0.3rem;
//   -webkit-transition: all 0.3s ease-in-out;
//   transition: all 0.3s ease-in-out;
//   background-color: black;
// }

// .hamburger .bar:nth-child(2) {
//   opacity: 0;
// }

// .hamburger .bar:nth-child(1) {
//   transform: translateY(0.5rem) rotate(45deg);
// }

// .hamburger .bar:nth-child(3) {
//   transform: translateY(-0.5rem) rotate(-45deg);
// }

// .hamburger .bar {
//   position: fixed;
//   top: 3%;
//   right: 10%;
// }

.Menu_item img {
  width: 200px;
  height: 120px;
}

.Menu_item {
  color: #c4c3c3;
  font-size: 2rem;
  padding-bottom: 2.5rem;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  height: 10vh;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $back-color;
  height: 100vh;
  width: 100vw;
  //margin-left: 2rem;
}

.mobile_greet {
  font-family: 'lato', sans-serif;
  font-size: 2.5rem;
  color: $primary-font-color;
  margin-left: 2rem;
  z-index: 2;
  
}

header {
    background:linear-gradient(to right, rgb($back-color, 0.5), rgb($back-color, 0.5)),
     url('/Capstone_module1/pictures/Background.jpeg');
     background-size: cover;
     background-position: center;
}

h1 {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: rem;
  color: $primary-font-color;
  margin: 35px 0 50px 0;
  width: 400px;
  margin-left: 2rem;
}


.mobile_greet {
  // margin-top: 90px;
  display: block;
}

.description {
  border: 2px solid white;
  padding: 0;
  margin-bottom: 10px;
  width: 90%;
  margin: 2rem;
}

.description p {
margin: 0 5%;
font-size: 1.75rem;
}

.placeAndDate h2 {
  color: rgb(86, 83, 83);
  font-size: 2rem;
  padding: 0;
  margin: 2rem;
}

.placeAndDate h3 {
  color: rgb(164, 162, 162);
  margin: 2rem;
}

.mainProgram {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  margin: 0;
  width: 100%;
  background-image: url(../pictures/hitmark.png);
  background-size: 25px;
}

.mainProgram h2 {
  color: white;
  text-align: center;
  padding: 50px 0 30px 0;
  height: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.mainProgram h2::after {
  content: '';
    width: 10%;
    position: absolute;
    left: 45%;
    color: #ec5242;
    bottom: 0px;
    border-width: 0 0px 1px;
    border-style:solid ;
    
}



.activity {
  display: grid;
  grid-template-columns: 20% 25% 40%;
  flex-wrap: wrap;
  background-color: #71747649;
  height: 100px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  margin-top: 13px;
}

.activity i {
  color: #c4c3c3;
  font-size: 2.25rem;
  
}

.activity h3 {
  color: $primary-font-color;
  font-size: 1.2rem;
}

.iconsmain {
  text-align: center;
  align-items: center;
}

.activity i:hover {
  color: $primary-font-color;
  cursor: pointer;
  @include transition-ease;
}

.activity p {
  color: #f5f1f1;
  margin-left: 15px;
  min-width: 160px;
  font-size: .8rem;
}

.enroll {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}

.mainProgram button {
  width: 75%;
  text-align: center;
  background-color: #e43c29;
  font-family: 'lato', sans-serif;
  font-size: 1.5rem;
  color: #dad7d7;
  padding: 30px;
  border: none;
}

.jobdesc {
  color: blue;
  width: 300px;
  margin-left: 20px;
}

.partner_container {
  background-color: #272a31;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px; 
}

.partnerTitle {
  background-color: #272a31;
}
.partnerTitle h2 {
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
  height: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.partnerTitle h2::after {
  content: '';
    width: 10%;
    position: absolute;
    left: 45%;
    color: #ec5242;
    bottom: 20px;
    border-width: 0 0px 1px;
    border-style:solid ;
    
}


.partner_container img {
  width: 20%;
  padding: 1.5rem;
  flex: 1 0 20%;
}

.company {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: fit-content;
  padding: 30px;
}

.logoBottom {
  width: 50vw;
  text-align: center;
}

.logoBottom img {
  width: 50%;
}



.speakerTitle h2 {
  color: rgb(7, 7, 7);
  text-align: center;
  padding: 10px 0 10px 0;
  height: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.speakerTitle h2::after {
  content: '';
    width: 10%;
    position: absolute;
    left: 45%;
    color: #ec5242;
    bottom: 20px;
    border-width: 0 0px 1px;
    border-style:solid ;
    
}

.Speaker-menu {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.spk_card {
  display: flex;
  margin: 0 0 50px 45px;
  width: 500px;
}

.spkdesk {
  font-family: 'lato', sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
}
.spk_card img {
  width: 115px;
  height: 115px;
}

.speakerPic {
  background-image: url('../pictures/chess-board-gray.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 5rem;
  justify-content: right;
  display: flex;
  align-items: flex-end;
  padding: 25px 0 0 25px;
}

.spkjob  {
  color: $primary-font-color;
  font-style: italic;
  padding-bottom: 1rem;
  // border-bottom: solid;
}

.spkjob:after {
  border-bottom: 1.5px solid rgb(203, 201, 201);
  content: '';
  display: block;
  width: 10%;
  margin-top: 12px;
}


.jobgenerals {
  margin-left: 20px;
  padding-top: .5rem;
}

.spk_name {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  padding-bottom: 0.25rem;
}